<mat-toolbar>
        <a [routerLink]="['/']"><img class="logo" src="../assets/logo.png" alt="oh no"></a>

        <span class="spacer"></span>

    <mat-slide-toggle (change)="onToggleChange($event)">°F / °C</mat-slide-toggle>

    <mat-form-field subscriptSizing="dynamic">
        <mat-label class="search-bar">Search for a city...</mat-label>
        <input matInput type="text" #filter/> 
    </mat-form-field>
    
    <button mat-stroked-button type="button" (click)="filterResults(filter.value); filter.value =''">Search</button>
</mat-toolbar>
<mat-toolbar class="secondary">
    <span class="spacer"></span>
    <mat-form-field class="sort">
        <mat-label>Sort by</mat-label>
        <mat-select (selectionChange)="onOptionSelected($event)">
            <mat-option value="alphabetical">Alphabetical</mat-option>
            <mat-option value="temp_asc">Temp. Ascending</mat-option>
            <mat-option value="temp_desc">Temp. Descending </mat-option>
            <mat-option value="scramble">Random</mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar class="footer">
    <p style="font-size: 12px"><em>© 2025 matt.nagl. 
        <span style="font-size: 6px">follow my instagram</span></em>
    </p>
</mat-toolbar>




